<section class="section section-advantages">
    <div class="avantages-container">
        <h2 class="visully-hidden-advantages">Our Advantages</h2>
        <ol class="avantages-list">
            <li class="avantages-item">
                <h3 class="avantages-subtitle">01</h3>
                <div class="rounded-rectangle"></div>
                <p class="avantages-text">Swimming and water sports: try your hand at water skiing</p>
                
            </li>
            <li class="avantages-item">
                <h3 class="avantages-subtitle">02</h3>
                <div class="rounded-rectangle"></div>
                <p class="avantages-text">Fishing: try to catch your own dinner</p>
                
            </li>
            <li class="avantages-item">
                <h3 class="avantages-subtitle">03</h3>
                <div class="rounded-rectangle"></div>
                <p class="avantages-text">Sightseeing tours: take a shore or island tour, enjoy the views and sunsets from the water</p>
                
            </li>
            <li class="avantages-item">
                <h3 class="avantages-subtitle">04</h3>
                <div class="rounded-rectangle"></div>
                <p class="avantages-text">Rest and relaxation: read a book or listen to music while enjoying the outdoor atmosphere.</p>
                
            </li>
        </ol>
        <div class="advantages-image"><img src="./src/img/advantagesimages/advantages-mob.png" alt="yacht inside"></div>
    </div>
</section>