<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/reset.css" />
  <link rel="stylesheet" href="/footer.css" />
</head> -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-lists-container">
      <a class="link-logo footer-link-logo" href="./index.html">yachtjet</a>
      <!-- <div class="footer-logo-list-menu-contaimer"> -->
      <ul class="footer-list-menu">
        <!-- <li class="footer-item-logo-link">
          <a class="link-logo footer-link-logo" href="./index.html">yachtjet</a>
        </li> -->
        <li class="footer-item-menu">
          <a href="https://www.instagram.com/goitclub/" class="footer-link-menu"
            >ABOUT</a
          >
        </li>
        <li class="footer-item-menu">
          <a href="https://www.youtube.com/c/GoIT" class="footer-link-menu"
            >YACHTS</a
          >
        </li>
        <li class="footer-item-menu">
          <a href=" https://www.facebook.com/goITclub/" class="footer-link-menu"
            >REVIEWS</a
          >
        </li>
      </ul>
      <!-- </div> -->
      <ul class="footer-list-social">
        <li class="footer-item-social">
          <a
            class="footer-link-social"
            href="https://www.instagram.com/goitclub/"
            ><svg class="footer-svg-social" width="19" height="19">
              <use href="/src/img/sprite.svg#icon-insta-white"></use></svg
          ></a>
        </li>
        <li class="footer-item-social">
          <a class="footer-link-social" href="https://www.youtube.com/c/GoIT"
            ><svg class="footer-svg-social" width="20" height="20">
              <use href="/src/img/sprite.svg#icon-youtube-white"></use></svg
          ></a>
        </li>
        <li class="footer-item-social">
          <a
            class="footer-link-social"
            href="https://www.facebook.com/goITclub/"
            ><svg class="footer-svg-social" width="20" height="20">
              <use href="/src/img/sprite.svg#icon-facebook-white"></use></svg
          ></a>
        </li>
      </ul>
    </div>
    <div class="footer-slogan-privacy-container">
      <p class="footer-slogan-p">
        No matter which yacht you choose, our experienced crew will ensure that
        your journey is smooth and enjoyable.
      </p>
      <p class="footer-privacy-police">
        2023. Yacht Adventures
        <span class="footer-span-privacy">Privacy Police</span>
      </p>
    </div>
  </div>
</footer>
