<header>
  <div class="logo-header">YachtJet</div>
  <div class="menu-toggle">
    <button type="button">
      <svg width="24" height="24" style="fill: #055545;">
        <use href="./img/sprite.svg#icon-burger-menu"></use>
      </svg>
    </button>
  </div>
  <nav class="main-menu header-nav">
      <ul>
          <li><a href="./index.html" class="nav-link about-button">About</a></li>
          <li><a href="./index.html" class="nav-link yachts-button">Yachts</a></li>
          <li><a href="./index.html" class="nav-link reviews-button">Reviews</a></li>
      </ul>
  </nav>
  <div class="social-icons">
      <ul class="nav-header">
          <li>
              <a href="https://www.instagram.com/goitclub/">
                  <svg width="19" height="19" style="fill:#1b414b;">
                      <use href="./img/sprite.svg#icon-instagram"></use>
                  </svg>
              </a>
          </li>
          <li>
              <a href="https://www.youtube.com/c/GoIT">
                  <svg width="19" height="19" style="fill:#1b414b;">
                      <use href="./img/sprite.svg#icon-youtube"></use>
                  </svg>
              </a>
          </li>
          <li>
              <a href="https://www.facebook.com/goITclub/">
                  <svg width="19" height="19" style="fill:#1b414b;">
                      <use href="./img/sprite.svg#icon-facebook"></use>
                  </svg>
              </a>
          </li>
      </ul>
  </div>
</header>  