<section class="section section-rents" id="section-rents">
  <div class="container rent-container">
    <div class="rent-title-form">
      <h2 class="title rents-title">Rent a yacht now</h2>
      <form class="rent-form">
        <div class="rent-form-inputs">
          <input
            class="rent-input"
            type="text"
            name="user-name"
            placeholder="Full Name"
          />
          <input
            class="rent-input"
            type="email"
            name="user-email"
            placeholder="Email"
          />
          <input
            class="rent-input"
            type="tel"
            name="user-tel"
            placeholder="Phone number"
          />
          <textarea
            class="rent-form-comment"
            name="user-comment"
            placeholder="Comment"
          ></textarea>
        </div>
        <button class="rent-btn" type="submit">Send</button>
      </form>
    </div>
    <picture>
      <source
        srcset="
          ./img/rent-section-img/rent-yacht-section-descktop1440-1x.png 1x,
          ./img/rent-section-img/rent-yacht-section-descktop1440-2x.png 2x
        "
        media="(min-width: 1440px)"
      />
      <source
        srcset="
          ./img/rent-section-img/rent-yacht-section-descktop1280-1x.png 1x,
          ./img/rent-section-img/rent-yacht-section-descktop1280-2x.png 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/rent-section-img/rent-yacht-section-tablet-1x.png 1x,
          ./img/rent-section-img/rent-yacht-section-tablet-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/rent-section-img/rent-yacht-section-mob-1x.png 1x,
          ./img/rent-section-img/rent-yacht-section-mob-2x.png 2x
        "
        media="(max-width: 767px)"
      />
      <img
        src="./img/rent-section-img/rent-yacht-section-mob-1x.png"
        alt="Rent a yacht"
        class="rent-img"
      />
    </picture>
  </div>
</section>
