<section class="section section-rents">
  <h2 class="title rents-title">Rent a yacht now</h2>
  <form class="rent-form">
    <div class="rent-form-inputs">
      <input
        class="rent-input"
        type="text"
        name="user-name"
        placeholder="Full Name"
      />
      <input
        class="rent-input"
        type="email"
        name="user-email"
        placeholder="Email"
      />
      <input
        class="rent-input"
        type="tel"
        name="user-tel"
        placeholder="Phone number"
      />
      <textarea
        class="rent-form-comment"
        name="user-comment"
        placeholder="Comment"
      ></textarea>
    </div>
    <button class="rent-btn" type="submit">Send</button>
  </form>
  <img
    src="../img/rent-section-img/rent-yacht-section-mob-1x.png"
    alt="Rent a yacht"
  />
</section>
