.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.about-us-wraper {
  background-color: #fbfbfb;
  border-radius: 24px;
}

.about-us-container {
  padding: 40px 20px;
}

.about-us-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  padding-bottom: 40px;
}

.about-us-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #1b414b;
  padding-bottom: 20px;
}

.about-us-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #040306;
  opacity: 0.4;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .about-us {
    width: 704px;
  }
  .about-us-container {
    padding: 50px 0 50px 32px;
  }

  .about-us-title {
    width: 536px;
    font-size: 48px;
    padding-bottom: 50px;
  }

  .about-us-block {
    width: 409px;
  }

  .about-us-subtitle {
    font-size: 23px;
  }

  .about-us-text {
    font-size: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    width: 100%;
  }

  .about-us {
    width: 1180px;
  }

  .about-us-container {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 50px 100px 50px;
    justify-content: space-between;
  }

  .about-us-block {
    padding: 0;
    width: 354px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
  .about-us {
    width: 1340px;
  }
}
