body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-inline: auto;
    top: 20px;
    max-width: 1240px;
    width: calc(100% - 40px);
    position: absolute;
}

.logo-header {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    text-transform: lowercase; 
    color: #1b414b;
}

.header-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-ul .header-li {
    display: inline;
    margin-right: 16px; 
}

.header-a {
    background: none; 
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family); 
    font-weight: 400;
    font-size: 9px;
    line-height: 130%;
    text-transform: uppercase;
}

.header-button {
    background-color: #fbfbfb;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40px;
    height: 40px;
}

.header-a:hover,
.header-a:focus {
    background-color: #1B414B;
}

.social-icons {
    display: flex;
    align-items: center;
}

.nav-header {
    display: inline-flex;
    gap: 8px;
}

.nav-link {
    margin-right: 1px;
}

.nav-header .header-li {
    margin-right: 0px;
}

.nav-header .header-a {
    color: #1b414b;
    text-decoration: none;
}

.header-svg {
    fill: #1b414b;
}

.header-svg:hover {
    fill: #0E1823; 
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.about-button,
.yachts-button,
.reviews-button {
    background-color: rgba(27, 65, 75, 0.5);
    color: white;
    text-decoration: none;
    padding: 12px 0;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.about-button:hover,
.yachts-button:hover,
.reviews-button:hover {
    background-color: #1B414B;
}

.backdrop {
    background-color: rgba(46, 47, 66, 0.4); /* прозрачный фон */
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .modal {
    width: 335px;
    background-color: #0E1823; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
  }
  
  .modal-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px; /* отступ снизу для разделения от кнопок */
    background-color: #fff; /* белый фон для заголовка */
    border-radius: 5px;
    padding: 8px;
  }
  
  .logo-modal {
    color: #000000; /* цвет текста логотипа */
  }
  
  .modal-close-btn {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .menu-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px; /* отступ от надписи yachtjet и кнопки SVG */
  }
  
  .menu-btn {
    background-color: #1B414B;
    border: none;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    padding: 8px 16px;
    margin-bottom: 8px;
    width: 91px;
    height: 40px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .social-icons-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px; /* отступ от кнопок about yachts reviews */
  }
  
  .social-icons .modal-svg {
    width: 24px;
    height: 24px;
    margin: 0 8px;
    transition: filter 0.3s ease;
  }
  
  .social-icons .modal-svg:hover {
    filter: grayscale(100%);
  }
  
  

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 768px) {
    .logo-header {
        font-size: 18px;
    }

    .social-icons,
    .main-menu {
        display: none; 
    }

    .menu-toggle {
        display: block; 
    }

    .menu-toggle .header-svg {
        fill: #1b414b; 
        cursor: pointer; 
    }

    .menu-toggle .header-svg:hover {
        opacity: 0.7; 
    }

    .menu-toggle.active + .main-menu {
        display: block; 
    }

    .main-menu .header-ul {
        background-color: #fbfbfb;
        border: 1px solid #fbfbfb; 
        border-radius: 8px; 
        padding: 10px; 
        position: absolute; 
        top: 50px; 
        left: 0; 
        z-index: 999; 
    }

    .main-menu .header-ul .header-li {
        display: block; 
        margin-bottom: 10px; 
    }

    .main-menu .header-ul .header-li .header-a {
        color: #1b414b; 
        text-decoration: none; 
        font-size: 16px; 
        display: block; 
    }
    
    
    .main-menu {
        display: none;
        width: 375px;
        height: 812px;
        background: #0e1823;
        position: absolute;
        top: 48px; 
        left: 0;
        z-index: 1000; 
        padding: 20px; 
        box-sizing: border-box;
    }

    
    .social-icons {
        position: absolute;
        bottom: 24px; 
        left: 50%; 
        transform: translateX(-50%); 
    }
}


.menu-toggle:checked + .main-menu {
    display: block; 
}