body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    width: 1240px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    background: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 20px auto;
    max-width: 1240px;
    width: calc(100% - 40px);
}

.logo {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.03em;
    text-transform: lowercase; 
    color: #1b414b;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li  {
    display: inline;
    margin-right: 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 8px;
    width: 91px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family); 
    font-weight: 400;
    font-size: 9px;
    line-height: 130%;
    text-transform: uppercase;
    text-align: center;
    
}

.nav-header {
    display: inline-flex;
    gap: 8px;
}

.yachts-button,
.reviews-button {
    background-color: rgba(27, 65, 75, 0.5);
}
.about-button {
    background: #1b414b;
}

.menu-toggle {
    display: none;
}

@media only screen and (max-width: 767px) {
    .logo {
        font-size: 18px;
    }

    .social-icons,
    .main-menu {
        display: none; 
    }

    .menu-toggle {
        display: block; 
    }

    .menu-toggle svg {
        fill: #1b414b; 
        cursor: pointer; 
    }

    .menu-toggle svg:hover {
        opacity: 0.7; 
    }

    .menu-toggle.active + .main-menu {
        display: block; 
    }

    .main-menu ul {
        background-color: #fbfbfb;
        border: 1px solid #fbfbfb; 
        border-radius: 8px; 
        padding: 10px; 
        position: absolute; 
        top: 50px; 
        left: 0; 
        z-index: 999; 
    }

    .main-menu ul li {
        display: block; 
        margin-bottom: 10px; 
    }

    .main-menu ul li a {
        color: #1b414b; 
        text-decoration: none; 
        font-size: 16px; 
        display: block; 
    }
}


